$main-padding: 80px 0;

$paleta:(
  'color1': #83afd1,
  'color2': #b8d1e5,
  'color3': #4f8dbe,
  'keyColor': #1f384c,

  'blanco': #dff2ff,
  'negro': #091014,
);

$font-sizes:(
  'fontxl': 3rem,
);
