<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina destinada al material de los alumnos de la escuela secundaria n°56">
    <meta name="author" content="Lautaro Lombardi">
    <meta name="keywords" content="escuela, escuela secundaria, educación física, secundaria 56, alumnos, material para alumnos">
    <title>E.E.S. N°56 | Alumnos</title>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-dwhite">
    <!-- INICIO NAV -->
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="Logo" title="Logo" class="navbar__logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mt-2 mt-md-0 text-center">
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="alumnos.html">Alumnos</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="docentes.html">Docentes</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="institucional.html">Institucional</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN NAV -->

    <!-- INICIA MAIN -->
    <main class="main students">
        <div class="container-fluid container-lg">
            <h1 class="title fs-2 text-center">Alumnos</h1>
            <div class="underline mx-auto"></div>
        </div>        
        <div class="students__banner">
            <div class="students__intro container-fluid text-center">
                <img src="../img/Novedades/Capacitacion RCP/img4.jpeg" alt="">
                <p class="mb-3 lh-lg negro">Desde la Escuela de Educación Secundaria N°56 trabajamos para:</p>
                <ul class="row mb-5 list-unstyled text-md-start">
                    <li class="col-md-4 mb-3 mb-md-0">
                        <div class="card bg-color1 h-100">
                            <div class="card-body d-flex align-items-center">
                                <p class="lh-lg negro">Generar involucramientos institucionales, sociocomunitarios, locales y regionales a partir de la recuperación de las problemáticas que los/as estudiantes definan como prioritarias.</p>
                            </div>
                        </div>
                    </li>
                    <li class="col-md-4 mb-3 mb-md-0">
                        <div class="card bg-color1 h-100">
                            <div class="card-body d-flex align-items-center">
                                <p class="lh-lg negro">Impulsar la adquisición de herramientas y conocimientos sobre la dinámica parlamentaria en tanto mecanismo democrático, de discusión y consensual.</p>
                            </div>
                            </div>
                        </li>
                    <li class="col-md-4 mb-3 mb-md-0">
                        <div class="card bg-color1 h-100">
                            <div class="card-body d-flex align-items-center">
                                <p class="lh-lg negro">Impulsar el ejercicio del derecho a la educación en espacios de protagonismo estudiantil que representen sus intereses.</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-center mb-3">
                        <a href="https://docs.google.com/document/d/1UI7RnMImvQiZtsgz7WhhifqaYGZx3faZ/edit?usp=sharing&ouid=107546439983427341193&rtpof=true&sd=true" target="_blank" class="fs-4 btn-color2 text-decoration-none">
                            <img src="../img/Iconos/docs.svg" title="Ícono de documentos" alt="Ícono de documentos">
                                HORARIOS
                        </a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center mb-3">
                        <a href="https://drive.google.com/drive/folders/1PGCNmFQZXbywVfpVObGg6gVUdrcgwDB7?usp=sharing" target="_blank" class="fs-4 btn-color2 text-decoration-none">
                            <img src="../img/Iconos/docs.svg" title="Ícono de documentos" alt="Ícono de documentos">
                                CUADERNILLOS
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <section class="py-5">
            <h2 class="title text-center">Horarios actualizados</h2>
            <div class="underline mx-auto"></div>
            <div class="mb-5 d-flex align-items-center justify-content-center">
                <table class="w-50 table table-bordered">
                    <thead>
                        <th>Área</th>
                        <th>Docente</th>
                        <th>Horarios</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">Matemática</td>
                            <td>Bogado M.</td>
                            <td>
                                Martes: 9:30 - 11:30 hs <br>
                                Jueves: 9:30 - 13:30 hs <br>
                                Viernes: 13:00 - 15:00 <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Murúa A.</td>
                            <td>
                                Viernes: 10:00 - 12:00 hs
                            </td>
                        </tr>
                        <tr>
                            <td>Farías</td>
                            <td>
                                Lunes: 13:00 - 17:00 hs <br>
                                Miércoles: 8:30 - 10:30 hs
                            </td>
                        </tr>
                        <tr>
                            <td>Inglés</td>
                            <td>Chasco V.</td>
                            <td>
                                Miércoles: 8:00 - 10:00 hs y 13:00 - 15:00 hs
                            </td>
                        
                        </tr>
                        <tr>
                            <td>Biología</td>
                            <td>Palacio N.</td>
                            <td>
                                Martes y Miércoles: 14:30 - 15:30 hs
                            </td>
                        </tr>
                        <tr>
                            <td rowspan="2">Educación Física</td>
                            <td>Spano A.</td>
                            <td>Jueves: 11:30 - 13:30</td>
                        </tr>
                        <tr>
                            <td>Díaz R.</td>
                            <td>
                                Martes: 12:00 - 13:00 hs <br>
                                Miércoles: 9:00 - 10:00 hs 
                            </td>
                        </tr>
                        <tr>
                            <td>Alfabetización</td>
                            <td>Aguirre F.</td>
                            <td>
                                Martes: 14:00 - 16:00 hs <br>
                                Miércoles: 14:00 - 17:00 hs <br>
                                Jueves: 14:00 - 17:00 hs <br>
                                Viernes: 15:00 - 17:00 hs
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Cs. Naturales <br>
                                Introd. a la física <br>
                                Físico-química 
                            </td>
                            <td>Vidal</td>
                            <td>
                                Martes: 7:30 - 10:30 hs y 15:00 - 17:00 hs<br>
                                Miércoles: 9:30 - 11:30 hs <br>
                                Viernes: 9:30 - 12:30 hs
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h3 class="title text-center">COI (ATR)</h3>
            <div class="mb-5 d-flex align-items-center justify-content-center container-fluid">
                <table class="w-75 table table-bordered">
                    <thead>
                        <th>Horarios</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Turno mañana</td>
                            <td>-Sanchez, Daniel: 8:00 a 12:00 hs</td>
                            <td>-Sanchez, Daniel: 8:00 a 12:00 hs</td>
                            <td>----------</td>
                            <td>-Sanchez, Daniel: 8:00 a 12:00 hs</td>
                            <td>-Sanchez, Daniel: 8:00 a 12:00 hs</td>
                            <td>
                                -Chamorro: 9:00 a 12:00 hs<br>
                                -Capra, Eva: 9:00 a 13:00 hs <br>
                                -Sanchez, Daniel: 9:00 a 13:00 hs <br>
                                -Rey, Martin: 9:00 a 13:00 hs <br>
                            </td>
                        </tr>
                        <tr>
                            <td>Turno tarde</td>
                            <td>-Capra, Eva: 13:00 a 17:00 hs</td>
                            <td>
                                <ul class="list-unstyled p-0">
                                    <li>-Capra, Eva: 12:00 a 16:00 hs</li>
                                    <li>-Rey, Martin: 13:00 a 17:00 hs</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled p-0">
                                    <li>-Capra, Eva: 12:00 a 16:00 hs</li>
                                    <li>-Rey, Martin: 13:00 a 17:00 hs</li>
                                </ul>
                            </td>
                            <td>
                                <ul class="list-unstyled p-0">
                                    <li>-Capra, Eva: 13:00 a 17:00 hs</li>
                                    <li>-Rey, Martin: 13:00 a 17:00 hs</li>
                                </ul>
                            </td>
                            <td>
                                -Rey, Martin:
                                13:00 a 17:00 hs
                            </td>
                            <td>
                                ----------
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="material py-5 text-center">

                <h2 class="title">Material de estudio</h2>
                <div class="underline mx-auto"></div>

                <div class="row mb-md-5">
                    <div class="col-md-3 mb-3">
                        <a href="https://drive.google.com/uc?id=14YbhibrGXQs5iNhWCbuk6VsvlSDirO5A&export=download" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Manual de Cs. Sociales 1
                        </a>
                    </div>
                    <div class="col-md-3 mb-3 d-flex justify-content-center">
                        <a href="https://www.ign.gob.ar/AreaServicios/Descargas/MapasEscolares" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Mapas
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="https://drive.google.com/uc?id=1MkIIPs_VN07_GNg41-pfnl-tId03ss-9&export=download" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Manual de Historia
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="https://resumende.net/resumen-de-dracula-bram-stoker/" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Resumen Drácula
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <a href="https://www.educ.ar/recursos/123487/lecturas-grabadas" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Lecturas Grabadas
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="https://www.cuevana3.icu/2022/02/hotel-transylvania-1-2012.html#" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Película Hotel Transilvania
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="https://drive.google.com/drive/folders/1Is_4N94buRuOOTcCKiOf-U6hMe3Gv2XH?usp=sharing" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Cs. Naturales - Profesor Vidal
                        </a>
                    </div>
                    <div class="col-md-3 mb-3">
                        <a href="https://drive.google.com/uc?id=1K140JB8HFpDhV8sG0gmebhWebqNgumo0&export=download" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Profesora Caffaro
                        </a>
                    </div>
                </div>
        </section>

        <section class="py-5 text-center">

                <h2 class="title">Aprendé jugando</h2>
                <div class="underline mx-auto"></div>

                <p class="mb-5 lh-lg">En esta sección encontrarás juegos que facilitarán tu aprendizaje</p>
                <div class="row mb-md-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/Repaso/Repaso.htm" target="_blank" class="btn-color2">Rompecabezas mapa planisferio</a>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/4to.%20Presidentes/4to._Presidentes.htm" target="_blank" class="btn-color2">Presidentes argentinos</a>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/25%20de%20mayo%20new/25_de_mayo_new.htm" target="_blank" class="btn-color2">Sopa de letras 25 de mayo</a>
                    </div>
                </div>
                <div class="row mb-md-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/5to.%20a%C3%B1o%20presidentes/5to._a__o_presidentes.htm" target="_blank" class="btn-color2">Presidentes argentinos siglo XX</a>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/Multiple%20Choise%204to/Multiple_Choise_4to..htm" target="_blank" class="btn-color2">Historia argentina siglo XX</a>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/NEW%20INMI/NEW_INMI.htm" target="_blank" class="btn-color2">Pensamos la inmigración</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/Primer%20guerra/PrimerGuerra.htm" target="_blank" class="btn-color2">Crucigrama de la 1ra guerra mundial</a>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/linea%20act/linea_act..htm" target="_blank" class="btn-color2">Línea de tiempo historia argentina</a>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <a href="https://9zm9mura2cbeuajvyku8og.on.drv.tw/Mapa%20Guerra%20Fr%C3%ADa/Mapa_Guerra_Fr__a.htm" target="_blank" class="btn-color2">Mapa sobre la guerra fría</a>
                    </div>
                </div>
        </section>

        <section class="pt-5 text-center">

                <h2 class="title">Tu futuro</h2>
                <div class="underline mx-auto"></div>

                <p class="mb-5 lh-lg">Universidades de cercanía. Encontrá toda la información sobre tus próximos estudios</p>
                <div class="row">
                    <div class="col-md-4 mb-5 mb-md-0">
                        <a href="http://www.unla.edu.ar" target="_blank" class="d-inline-block future__link">
                            <img src="../img/Alumnos/UNLa.png" title="Logo de la Universidad de Lanús" alt="Logo de la Universidad de Lanús" class="img-fluid future__img">
                        </a>
                    </div>
                    <div class="col-md-4 mb-5 mb-md-0">
                        <a href="https://www.unlz.edu.ar" target="_blank" class="d-inline-block future__link">
                            <img src="../img/Alumnos/UNLZ.webp" title="Logo de la Universidad de Lomas de Zamora" alt="Logo de la Universidad de Lomas de Zamora" class="img-fluid future__img">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="http://www.undav.edu.ar" target="_blank" class="d-inline-block bg-dwhite future__link">
                            <img src="../img/Alumnos/UNDAV.png" title="Logo de la Universidad de Avellaneda" alt="Logo de la Universidad de Lanús" class="h-100 w-100 future__img">
                        </a>
                    </div>
                </div>
        </section>
    </main>
    <!-- FIN MAIN -->

    <!-- INICIO FOOTER -->
    <footer class="footer text-center text-md-start">
        <div class="container-fluid container-md">
            <div class="footer__container">
                <div class="row">
                        
                    <div class="footer__col col-md-6 mb-5 mb-md-0">
                        <div class="footer__guide">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.986635486979!2d-58.43848718524031!3d-34.68028676905959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccc73b39b1565%3A0xc7821d5c359dd36e!2sPolo%20Educativo%20%2F%20EES%20n56!5e0!3m2!1sen!2sar!4v1660591410953!5m2!1sen!2sar" class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                        
                    <div class="footer__col col-md-6">
                        <div>
                            <h3 class="contact__title">Contacto</h3>
                            <div class="contact">
                                <div class="contact__row">
                                    <img src="../img/Iconos/phone.svg" class="contact__icon" title="Teléfono" alt="Teléfono">
                                    <span class="contact__span">3575185</span>
                                </div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/email.svg" class="contact__icon" title="Email" alt="Email">
                                    <span class="contact__span">secundaria56lanus@gmail.com</span>
                                </div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/email.svg" class="contact__icon" title="Email" alt="Email">
                                    <span class="contact__span">secundaria56documentos@gmail.com</span>
                                </div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/location.svg" class="contact__icon" title="Ubicación" alt="Ubicación">
                                    <span class="contact__span">Osorio 2971 - Lanús Oeste</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <section class="social">
            <div class="social__container container-fluid">
        
                <h5 class="social__title">Seguinos en nuestras redes sociales</h5>
        
                <div class="social__icons">
                    <a href="https://www.facebook.com/secundarialvi.lanus.7" class="social__link">
                        <img src="../img/Iconos/facebook.svg" title="Logo de Facebook" alt="Logo de facebook" class="social__icon">
                    </a>
                    <a href="https://www.instagram.com/secundaria56lanuspolo/" class="social__link">
                        <img src="../img/Iconos/instagram.svg" title="Logo de Instagram" alt="Logo de instagram" class="social__icon">
                    </a>
                    <a href="https://www.youtube.com/channel/UCffp71KlqvSga8DHaC50TpQ" class="social__link">
                        <img src="../img/Iconos/youtube.svg" title="Logo de Youtube" alt="Logo de youtube" class="social__icon">
                    </a>
                </div>
        
            </div>
        </section>    
    </footer>        
    <!-- FIN FOOTER -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>
