<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Docentes de la escuela y equipo directivo">
        <meta name="author" content="Lautaro Lombardi">
        <meta name="keywords" content="escuela, escuela secundaria, educación física, secundaria 56, docentes">
        <title>E.E.S. N°56 | Docentes</title>
        <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/main.css">
    </head>
<body class="bg-dwhite">
    <!-- INICIO NAV -->
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="Logo" title="Logo" class="navbar__logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mt-2 mt-md-0 text-center">
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="alumnos.html">Alumnos</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="docentes.html">Docentes</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="institucional.html">Institucional</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN NAV -->

    <!-- INICIA MAIN -->
    <main class="main docentes">
        <div class="container-fluid">
            <section class="pb-5 text-center">

                <h1 class="title fs-2">Nuestro equipo directivo</h1>
                <div class="underline mx-auto"></div>

                <div class="row mb-5">
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="docentes__box mb-5 mb-md-0 d-flex flex-column justify-content-center align-items-center rounded text-center negro">
                            <img src="../img/Docentes/img1.jpg" title="Directora Andrea Campos" alt="Directora Andrea Campos" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Andrea Campos</h5>
                            <p>Directora</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <div class="docentes__box mb-5 mb-md-0 d-flex flex-column justify-content-center align-items-center rounded text-center negro">
                            <img src="../img/Docentes/img2.jpg" title="Vicedirector Ricardo Lombardi" alt="Vicedirector Ricardo Lombardi" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Ricardo Lombardi</h5>
                            <p>Vicedirector</p>
                        </div>
                    </div>
                </div>
                <h2 class="title fs-3">Algunos de nuestros preceptores</h2>
                <div class="underline mx-auto"></div>
                <div class="row mb-5">
                    <div class="col-md-4 d-flex justify-content-center">
                        <div class="docentes__box mb-5 mb-md-0 d-flex flex-column justify-content-center align-items-center rounded text-center negro">
                            <img src="../img/Docentes/img3.jpg" title="Preceptor Eduardo Recalde" alt="Preceptor Eduardo Recalde" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Eduardo Recalde</h5>
                            <p>Preceptor</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center">
                        <div class="docentes__box mb-5 mb-md-0 d-flex flex-column justify-content-center align-items-center rounded text-center negro">
                            <img src="../img/Docentes/img4.jpg" title="Imagen de Mariela y Cecilia" alt="Imagen de Mariela y Cecilia" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Mariela Prudencio - Cecilia Lazarte</h5>
                            <p>Preceptoras turno mañana</p>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex justify-content-center">
                        <div class="docentes__box mb-5 mb-md-0 d-flex flex-column justify-content-center align-items-center rounded text-center negro">
                            <img src="../img/Docentes/img5.jpg" title="Imagen de Yanina y Fabiana" alt="Imagen de Yanina y Fabiana" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Yanina Lodoldi - Fabiana Maiorano</h5>
                            <p>Preceptoras turno tarde</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="py-5 text-center">

                <h2 class="title">Algunos de nuestros docentes</h2>
                <div class="underline mx-auto"></div>

                <div class="row mb-md-5">
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0 negro">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Ezequiel Vidal</h5>
                            <p>Introducción a la química</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Sergio Ibarra</h5>
                            <p>Geografía</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Patricia Cosentino</h5>
                            <p>Inglés</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Laura Ayala</h5>
                            <p>Geografía</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-md-5">
                    <div class="col-md-4">
                        <div class="docentes__box mb-5 mb-md-0 negro">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Roccasalvo</h5>
                            <p>Educación Artística</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Mirian Reinoso</h5>
                            <p>Educación Física</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">María Marta Rivera</h5>
                            <p>Educación Física</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-md-5">
                    <div class="col-md-4">
                        <div class="docentes__box mb-5 mb-md-0 negro">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Alexis Lettieri</h5>
                            <p>Educación Artística (Música)</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Jorge El Fasah</h5>
                            <p>Educación Física</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Adriana Murúa</h5>
                            <p>Matemática</p>
                        </div>
                    </div>
                </div>
                <div class="row mb-md-5">
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0 negro">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold">Fátima Arias</h5>
                            <p>Prácticas de Lenguaje</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Natalia Palacio</h5>
                            <p>Biología</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Gabriela Capurro</h5>
                            <p>Historia</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="docentes__box mb-5 mb-md-0">
                            <img src="../img/Docentes/logo-plantilla.jpg" alt="" class="docentes__img border-color3">
                            <h5 class="mt-2 fw-semibold negro">Gabriela Ayala</h5>
                            <p>Construccíon de la ciudadanía</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="files pt-5 text-center">

                <h2 class="title">Documentos de utilidad</h2>
                <div class="underline mx-auto"></div>
                
                <div class="row">
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="https://drive.google.com/uc?id=1EQBR0PoJFx8I-7CPMRL5c9G50SV0OlXH&export=download" target="_blank" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Declaración jurada
                        </a>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="https://drive.google.com/uc?id=1-KmLANllFIYOXbTcQ0ydhPdMGnYDaoD_&export=download" target="_blank" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Planilla SET 4
                        </a>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="https://drive.google.com/uc?id=1yierxym-G91Smb2EwgAkIwNMnLEa1wS2&export=download" target="_blank" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Formulario 354
                        </a>
                    </div>
                    <div class="col-md-3 mb-3 mb-md-0">
                        <a href="https://drive.google.com/uc?id=1M3Jagj2TUlcpYbA-VJf5a39z9CwsWcrW&export=download" target="_blank" class="btn-color2">
                            <img src="../img/Iconos/docs.svg" alt="Ícono de documentos">
                            Modelo de planificación
                        </a>
                    </div>
            </section>
        </div>
    </main>
    <!-- FIN MAIN -->

    <!-- INICIO FOOTER -->
    <footer class="footer text-center text-md-start">
        <div class="container-fluid container-md">
            <div class="footer__container">
                <div class="row">
                        
                    <div class="footer__col col-md-6 mb-5 mb-md-0">
                        <div class="footer__guide">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.986635486979!2d-58.43848718524031!3d-34.68028676905959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccc73b39b1565%3A0xc7821d5c359dd36e!2sPolo%20Educativo%20%2F%20EES%20n56!5e0!3m2!1sen!2sar!4v1660591410953!5m2!1sen!2sar" class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                        
                    <div class="footer__col col-md-6">
                        <div class="contact">
                            <h3 class="title">Contacto</h3>
                            <div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/phone.svg" class="contact__icon" title="Teléfono" alt="Teléfono">
                                    <span class="contact__span">3575185 - 1154014800 - 1132869189</span>
                                </div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/email.svg" class="contact__icon" title="Email" alt="Email">
                                    <span class="contact__span">secundaria56lanus@gmail.com</span>
                                </div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/location.svg" class="contact__icon" title="Ubicación" alt="Ubicación">
                                    <span class="contact__span">Osorio 2971 - Lanús Oeste</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <section class="social">
            <div class="social__container container-fluid">
        
                <h5 class="social__title">Seguinos en nuestras redes sociales</h5>
        
                <div class="social__icons">
                    <a href="https://www.facebook.com/secundarialvi.lanus.7" class="social__link">
                        <img src="../img/Iconos/facebook.svg" title="Logo de Facebook" alt="Logo de facebook" class="social__icon">
                    </a>
                    <a href="https://www.instagram.com/secundaria56lanuspolo/" class="social__link">
                        <img src="../img/Iconos/instagram.svg" title="Logo de Instagram" alt="Logo de instagram" class="social__icon">
                    </a>
                    <a href="https://www.youtube.com/channel/UCffp71KlqvSga8DHaC50TpQ" class="social__link">
                        <img src="../img/Iconos/youtube.svg" title="Logo de Youtube" alt="Logo de youtube" class="social__icon">
                    </a>
                </div>
        
            </div>
        </section>    
    </footer>        
    <!-- FIN FOOTER -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>