<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Pagina que describe la historia de la escuela secundaria n°56">
    <meta name="author" content="Lautaro Lombardi">
    <meta name="keywords" content="escuela, escuela secundaria, educación física, secundaria 56, sobre nosotros, nosotros, quienes somos">
    <title>E.E.S. N°56 | Nosotros</title>
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body class="bg-dwhite">
    <!-- INICIO NAV -->
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="../index.html">
                <img src="../img/logo.png" alt="Logo" title="Logo" class="navbar__logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto mt-2 mt-md-0 text-center">
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="novedades.html">Novedades</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="alumnos.html">Alumnos</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="docentes.html">Docentes</a>
                    </li>
                    <li class="nav-item py-2 py-md-0">
                        <a class="nav-link" href="institucional.html">Institucional</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- FIN NAV -->

    <main class="main">
        <section class="history pb-5 container-fluid container-md text-center">
            <h1 class="title fs-2">Sobre la institución</h1>
            <div class="underline mx-auto"></div>
            <div class="row">
                <div class="col-xl-6">
                    <figure class="mb-3 mx-auto history__figure">
                        <img src="../img/Institucional/img7.jpg" alt="Imagen de la escuela" title="Imagen de la escuela" class="border-color3 h-100 w-100">
                    </figure>
                </div>
                <div class="col-xl-6 d-flex align-items-center">
                    <p class="w-100 p-3 bg-color1 border-color3 rounded-end text-md-start lh-lg negro history__text">
                        La Escuela de Educación Secundaria número 56 “Polo educativo” es una institución que lleva cuatro años desde su conformación y que, con matrícula creciente, es la única que sostiene jornada extendida en el ciclo básico y la orientación en educación física en su ciclo superior, en todo el distrito de Lanús. Tiene como principal objetivo la construcción del proyecto de vida de cada uno de los estudiantes tendiendo a la generación de acuerdos y acciones colectivas que puedan transformar la realidad barrial y distrital.
                    </p>
                </div>
            </div>
        </section>
        <section class="gallery pt-5 container-fluid text-center">
            
            <h2 class="title">Galería</h2>
            <div class="underline mx-auto"></div>

            <h3 class="title">Muestras anuales</h3>
            <p class="mb-3 lh-lg negro">Haciendo click en alguna de las imágenes podrás visualizar el álbum</p>
            <div class="gallery__grid mb-5">
                <a href="https://www.facebook.com/media/set/?set=a.165899477830460&type=3" target="_blank" class="d-inline-block gallery__box gallery__box--1">
                    <img src="../img/Institucional/Muestra/img5.jpg" title="Maqueta de Alicia en el pais de las maravillas" alt="Maqueta de Alicia en el pais de las maravillas" class="gallery__img gallery__img--1 img-fluid border-color3">
                </a>
                <a href="https://www.facebook.com/media/set/?set=a.165899477830460&type=3" target="_blank" class="d-inline-block gallery__box gallery__box--2">
                    <img src="../img/Institucional/Muestra/img2.jpg" title="Escuela decorada en la muestra anual" alt="Escuela decorada en la muestra anual" class="gallery__img gallery__img--2 img-fluid border-color3">
                </a>
                <a href="https://www.facebook.com/media/set/?set=a.165899477830460&type=3" target="_blank" class="d-inline-block gallery__box gallery__box--3">
                    <img src="../img/Institucional/Muestra/img3.jpg" title="Maqueta del sistema solar" alt="Maqueta del sistema solar" class="gallery__img gallery__img--3 img-fluid border-color3">
                </a>
                <a href="https://www.facebook.com/media/set/?set=a.165899477830460&type=3" target="_blank" class="d-inline-block gallery__box gallery__box--4">
                    <img src="../img/Institucional/Muestra/img4.jpg" title="Maqueta en la muestra anual" alt="Maqueta en la muestra anual" class="gallery__img gallery__img--4 img-fluid border-color3">
                </a>
                <a href="https://www.facebook.com/media/set/?set=a.165899477830460&type=3" target="_blank" class="d-inline-block gallery__box gallery__box--5">
                    <img src="../img/Institucional/Muestra/img1.jpg" title="Cartel en la escuela de la muestra anual" alt="Cartel en la escuela de la muestra anual" class="gallery__img gallery__img--5 img-fluid border-color3">
                </a>
            </div>

            <h3 class="title">Imágenes de la institución</h3>
            <div class="gallery__grid">
                <div class="gallery__box gallery__box--1">
                    <img src="../img/Institucional/img1.jpg" alt="Vista desde arriba de la escuela" title="Vista desde arriba del patio la escuela" class="border-color3 img-fluid h-100 gallery__img gallery__img--1">
                </div>
                <div class="gallery__box gallery__box--2">
                    <img src="../img/Institucional/img2.jpg" alt="Vista desde arriba de la escuela" title="Vista desde arriba del patio la escuela" class="border-color3 img-fluid gallery__img gallery__img--2">
                </div>
                <div class="gallery__box gallery__box--3">
                    <img src="../img/Institucional/img3.jpg" alt="Vista desde arriba de la escuela" title="Vista desde arriba del patio la escuela" class="border-color3 img-fluid gallery__img gallery__img--3">
                </div>
                <div class="gallery__box gallery__box--4">
                    <img src="../img/Institucional/img4.jpg" alt="Imagen de la salida al patio de la escuela" title="Imagen de la salida al patio de la escuela" class="border-color3 img-fluid gallery__img gallery__img--4">
                </div>
                <div class="gallery__box gallery__box--5">
                    <img src="../img/Institucional/img5.jpg" alt="Imagen de la salida al patio de la escuela" title="Imagen de la salida al patio de la escuela" class="border-color3 img-fluid gallery__img gallery__img--5">
                </div>
                <div class="gallery__box gallery__box--6">
                    <img src="../img/Institucional/img6.jpg" alt="Imagen de la salida al patio de la escuela" title="Imagen de la salida al patio de la escuela" class="border-color3 img-fluid gallery__img gallery__img--6">
                </div>
                <div class="gallery__box gallery__box--7">
                    <img src="../img/Institucional/img7.jpg" alt="Imagen de la salida al patio de la escuela" title="Imagen de la salida al patio de la escuela" class="border-color3 img-fluid gallery__img gallery__img--7">
                </div>
                <div class="gallery__box gallery__box--8">
                    <img src="../img/Institucional/img8.jpg" alt="Imagen de la salida al patio de la escuela" title="Imagen de la salida al patio de la escuela" class="border-color3 img-fluid gallery__img gallery__img--8">
                </div>
                <div class="gallery__box gallery__box--9">
                    <img src="../img/Institucional/img9.jpg" alt="Imagen del patio de la escuela" title="Imagen del patio de la escuela" class="border-color3 img-fluid gallery__img gallery__img--9">
                </div>
            </div>
        </section>
    </main>

    <!-- INICIO FOOTER -->
    <footer class="footer text-center text-md-start">
        <div class="container-fluid container-md">
            <div class="footer__container">
                <div class="row">
                        
                    <div class="footer__col col-md-6 mb-5 mb-md-0">
                        <div class="footer__guide">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.986635486979!2d-58.43848718524031!3d-34.68028676905959!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccc73b39b1565%3A0xc7821d5c359dd36e!2sPolo%20Educativo%20%2F%20EES%20n56!5e0!3m2!1sen!2sar!4v1660591410953!5m2!1sen!2sar" class="h-100 w-100" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                        
                    <div class="footer__col col-md-6">
                        <div class="contact">
                            <h3 class="title">Contacto</h3>
                            <div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/phone.svg" class="contact__icon" title="Teléfono" alt="Teléfono">
                                    <span class="contact__span">357 5185 - 1154014800 - 1132869189</span>
                                </div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/email.svg" class="contact__icon" title="Email" alt="Email">
                                    <span class="contact__span">secundaria56lanus@gmail.com</span>
                                </div>
                                <div class="contact__row">
                                    <img src="../img/Iconos/location.svg" class="contact__icon" title="Ubicación" alt="Ubicación">
                                    <span class="contact__span">Osorio 2971 - Lanús Oeste</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <section class="social">
            <div class="social__container container-fluid">
        
                <h4 class="social__title">Seguinos en nuestras redes sociales</h4>
        
                <div class="social__icons">
                    <a href="https://www.facebook.com/secundarialvi.lanus.7" class="social__link">
                        <img src="../img/Iconos/facebook.svg" title="Logo de Facebook" alt="Logo de facebook" class="social__icon">
                    </a>
                    <a href="https://www.instagram.com/secundaria56lanuspolo/" class="social__link">
                        <img src="../img/Iconos/instagram.svg" title="Logo de Instagram" alt="Logo de instagram" class="social__icon">
                    </a>
                    <a href="https://www.youtube.com/channel/UCffp71KlqvSga8DHaC50TpQ" class="social__link">
                        <img src="../img/Iconos/youtube.svg" title="Logo de Youtube" alt="Logo de youtube" class="social__icon">
                    </a>
                </div>
        
            </div>
        </section>    
    </footer>        
    <!-- FIN FOOTER -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>